.summary {
    color: #ffffff;
    border-top: 5px solid #005875;
    font-size:16px;
    background-color: #00afe9;
}


h3 {color: #00afe9; }
h4 {color: #808080; }

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    background-color: #00AFE9;
    color: #333333;
}

.nav > li.active > a {
    background-color: #00afe9;
}

.nav > li > a:hover {
    background-color: #00AFE9;
}

div.navbar-collapse .dropdown-menu > li > a:hover {
    background-color: #00AFE9;
}

.nav li.thirdlevel > a {
    background-color: #F2F2F2 !important;
    color: #333333;
    font-weight: bold;
}

a[data-toggle="tooltip"] {
    color: #00AFE9;
    font-style: italic;
    cursor: default;
}

.navbar-inverse {
    background-color: #0E1D2E;
    border-color: #0E1D2E;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    color: #00AFE9;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    background-color: #0E1D2E;
    color: #ffffff;
}

/* not sure if using this ...*/
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: #00AFE9 !important;
}

.btn-primary {
    color: #333333;
    background-color: #00AFE9;
    border-color: #00AFE9;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    background-color: #00AFE9;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    background-color: #00AFE9;
    border-color: #00AFE9;
}

.printTitle {
    color: #0C1D2E !important;
}

body.print h1 {color: #0C1D2E !important; font-size:28px !important;}
body.print h2 {color: #333333 !important; font-size:20px !important;}
body.print h3 {color: #005875 !important; font-size:14px !important;}
body.print h4 {color: #00AFE9 !important; font-size:14px; font-style: italic !important;}

.anchorjs-link:hover {
    color: #00AFE9;
}

div.sidebarTitle {
    color: #00AFE9;
}

li.sidebarTitle {
    margin-top:40px;
    font-weight:normal;
    font-size:130%;
    color: #00AFE9;
    margin-bottom:10px;
    margin-left: 5px;

}
